<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Type submit</title>
</head>
<body>
    <div>
        <h1>Form</h1>
        <form action="/upload" enctype="multipart/form-data" method="POST">
            <input type="file" name="q"/>
            <input type="submit" name="submit-btn" value="submit"/>
        </form>
    </div>
</body>
</html>