<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Type submit</title>
</head>
<body>
<h1>go to main page</h1>
<a href="/">click</a>
<div>
    <h1>Read file</h1>
    {{.}}
</div>
</body>
</html>