<!DOCTYPE html>
<html lang="en">
{{/*    we use gohtml extension traditionally for go template*/}}
    <head>
        <meta charset="UTF-8">
        <title>Hello World!</title>
    </head>
    <body>
        <h1>Hello, Ayano</h1>
    </body>
</html>