<!DOCTYPE html>
<html lang="en">
{{$title := .Title}}
    <head>
        <meta charset="UTF-8">
        <title>{{$title}}</title>
    </head>
    <body>
        <h1>Hello, {{.Name}}</h1>
    </body>
</html>